In [109]:
import sqlite3
import pandas as pd

In [110]:
conn = sqlite3.connect("../objets_trouves.db")
cursor = conn.cursor()


df = pd.read_csv("../temp.csv")

In [111]:
# ajout de la colonne ID correspondant aux numéros de lignes
df.insert(0, 'id', df.index + 1)

In [112]:
# création de la table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS temperature (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        temperature FLOAT NOT NULL
    )
""")

In [113]:
# insertion des données
for index, row in df.iterrows():
    cursor.execute("INSERT INTO temperature (id, date, temperature) VALUES (?, ?, ?)", (row["id"], row["time"], row["temperature_2m_mean (°C)"]))

In [114]:
# Confirmation des modifications et fermer la connexion
conn.commit()
conn.close()